@font-face {
  font-family: Roboto;
  src: url("./fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: NatoSansKR;
  src: url("./fonts/NotoSansKR-Regular.otf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: NatoSansKR;
}
